## Session 7 task 1

In [2]:
import csv
import mysql.connector

db = mysql.connector.connect(
host="localhost",
user="{vijaymurugan}",
passwd="{Vijaymurugan}"
)

#cursor is used to execute sql Queries
cursor = mydb.cursor()

#Create Database
cursor.execute("CREATE DATABASE sqladb")
cursor.execute("USE sqladb")

#Create Table with the naming convention
cursor.execute("CREATE TABLE adultTable (age INT(2),workclass VARCHAR(255), fnlwgt INT(5), education VARCHAR(255), education-num INT(5), marital-status VARCHAR(255), occupation VARCHAR(255), relationship VARCHAR(255), race VARCHAR(255), sex VARCHAR(255), capital-gain INT(20), capital-loss INT(20), hours-per-week INT(20), native-country VARCHAR(255) )", moreThan50K VARCHAR(255))

#Load data from sample.csv to table
table_data = csv.reader(file('sample.csv'))
for row in table_data:
cursor.execute('INSERT INTO adultTable VALUES("%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s")',row)

# Commit is important to reflect the changes
db.commit()

# 1) Select 10 rows from table
cursor.execute("SELECT * FROM adultTable LIMIT 10")
myresult = cursor.fetchall()
for x in myresult:
print(x)



# 2) Average hours per week for all man who are working in private sector
cursor.execute("SELECT AVG(hours-per-week) average-hours-per-week FROM adultTable WHERE workclass = 'Private' ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

# 3) Frequency tables
#    a) education
cursor.execute("SELECT education , COUNT(education) frequency FROM adultTable GROUP BY education ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

#    b) occupation
cursor.execute("SELECT occupation, COUNT(occupation) frequency FROM adultTable GROUP BY occupation ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

#    a) relationship
cursor.execute("SELECT relationship, COUNT(relationship) frequency FROM adultTable GROUP BY relationship ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

# 4) Are there any people who are married, working in private sector and having a masters degree 
cursor.execute("SELECT IF(count > 0, 'Yes', 'No') _exist FROM ( SELECT COUNT(marital_status) count FROM adultTable WHERE marital-status IN ('Married-civ-spouse', 'Married-spouse-absent' , 'Married-AF-spouse')) alias ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

# 5) Average, minimum and maximum age group for people working in different sectors
cursor.execute(" SELECT workclass as sector, AVG(age) averageAge, MIN(age) minAge, MAX(age) maxAge  FROM adultTable GROUP BY workclass ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

SyntaxError: invalid syntax (<ipython-input-2-31545acae84f>, line 18)